<% content_tag_for( :tr, skill ) do %>
<% fields_for "resume[skills_attributes][]", skill do |f| -%>
  <td class='drag'><%= image_tag 'drag.gif', :class => 'dragger' %></td>
  <td>
    <%= f.hidden_field :id %>
    <%= f.text_field :name, :class => 'text' %>
  </td>

  <td class='level'>
    <%= f.collection_select(:level_id, Level.find(:all), :id, :name ) %>
  </td>

  <td class='date'>
    <%= f.text_field :start_date_string, :class => 'text' %>
  </td>
 
  <td class='date'>
    <%= f.text_field :end_date_string, :class => 'text' %>
  </td>

  <td>
    <%#= f.check_box :_delete %>
    <%#= f.label :_delete, 'Destroy' %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, 'Destroy' %>
  </td>
<% end -%><%# end fields_for -%>
<% end %><%# end content_tag_for( :tr, skill ) do -%>
