<h1>New assets</h1>

<%= error_messages_for :asset %>

<% form_for(@asset, :url => batch_create_assets_path) do |f| %>
 <div>
  <label for='titles'>Titles (one per line)</label><br/>
  <textarea id='titles' name='titles' cols='40' rows='40'><%= params[:titles] %></textarea>
 </div>
 <%= render :partial => 'form', :locals => { :f => f } %>
 <p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', assets_path %>
