<h1>New asset</h1>

<%= error_messages_for :asset %>

<% form_for(@asset) do |f| %>
 <%# title is not in form due to batch_create %>
 <div class='field' id='title'>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
 </div>
 <%= render :partial => 'form', :locals => { :f => f } %>
 <p id='button_row'><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', assets_path %>
