<% content_tag_for(:table, school) do %>
<% fields_for "resume[schools_attributes][]", school do |f| -%>
  <tr><td>Start Date:</td><td>
    <%= f.hidden_field :id %>
    <%= f.text_field :start_date_string, :class => 'text' %>
    </td>
    <td>End Date:</td>
    <td>
      <%= f.text_field :end_date_string, :class => 'text' %>
    </td>
    <td>
      <%#= f.check_box :_delete %>
      <%#= f.label :_delete, 'Destroy' %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, 'Destroy' %>
    </td>
  </tr>

  <tr>
    <td colspan='5'>
      <%= f.text_field :name, :class => 'text' %>
    </td>
  </tr>

  <tr>
    <td colspan='5'>
      <%= f.text_field :degree, :class => 'text' %>
    </td>
  </tr>

  <tr>
    <td colspan='5'>
      <%= f.text_field :location, :class => 'text' %>
    </td>
  </tr>

  <tr>
    <td colspan='5'>
      <%= f.text_area :description, :class => 'text' %>
    </td>
  </tr>
<% end -%><%# end fields_for -%>
<% end %><%# end content_tag_for(:table, school) do -%>
