<h1>Categories</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Assets Count</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>

<% @categories.each do |category| -%>
	<tr class='<%= cycle('odd', 'even') -%>'>
		<td><%= link_to h(category.name),category %></td>
		<td><%= category.assets_count %></td>
		<td><%= link_to 'Edit', edit_category_path(category) %></td>
		<td><%= link_to 'Destroy', confirm_destroy_category_path(category), 
			:title => category.name, :class => 'confirm_destroy' %></td>
	</tr>
<% end -%>
</table>
